/* ==================== Components =================== */
:root {
  --body-text: #434455;
  --background-color: #ffffff;
  --selection-color: #404bbf;
  --button-list-color: #4d5ae5;
  --button-list-background: #f4f4fd;
  --second-background-color: #2e2f42;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text);
  background-color: var(--background-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* ===================== Header ==================== */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-list-color);
}
.logo-head {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--second-background-color);
  text-transform: uppercase;
}
.logo-foot {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--selection-color);
}
.menu {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-background-color);
}
/* =============== Contact information =============== */
.email-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--suptitle-text-color);
}
.email-phone:hover,
.email-phone:focus {
  color: var(--selection-color);
}
.menu-addres {
  font-style: normal;
}
/* ========================= Main page ========================= */
.hero {
  background: var(--second-background-color);
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-color);
}
.main-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--background-color);
  background: var(--button-list-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
  color: var(--background-color);
  background-color: var(--selection-color);
}
.list-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--button-list-color);
  background: var(--button-list-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
}
.list-button:hover,
.list-button:focus {
  color: var(--background-color);
  background: var(--selection-color);
}
.menu-item {
  background-color: var(--background-color);
}
.menu-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-background-color);
}
.suptitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
  background-color: var(--button-list-background);
}
/* =================== Footer ================== */
.footer {
  background: var(--second-background-color);
}
.footer-suptitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
}
